VITE_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI2YjBlODBlZi02YzY2LTRiOGEtOGFjZS1iMTIzNGQwNDgxZWMiLCJlbWFpbCI6Imd1cnVnb3d0aGFtLnRvcGdAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjQ5M2ZkNTYwZTI3YjI5OWExZDE2Iiwic2NvcGVkS2V5U2VjcmV0IjoiODA0NTI1OWYxZmFiZTYyNTM1NGZmNjAzNzYyYmY4MjkzMDE2ZWE1OGZhZjRiNWVhZTE5YWFkYTUxYzdlNDYwYyIsImV4cCI6MTgwODIyMTA3Nn0.BYfjLsru7fseeah7dEo-3gDdxUdwBocf5l0wRo0z_PU

